@include keyframes(freakOutLink) {
  0%    { text-shadow:  .5rem   .75rem $turkoise; }
  25%   { text-shadow: -.5rem  -.5rem  $purple;   }
  50%   { text-shadow:  .75rem -.5rem  $turkoise; }
  75%   { text-shadow: -.75rem  .5rem  $yellow;   }
  100%  { text-shadow:  .5rem   .5rem  $turkoise; }
}

@include keyframes(freakOutBtn) {
  0%    { left: -.75rem;  top:  .5rem;  background-color: $rose;      }
  25%   { left:   .5rem;  top: -.75rem; background-color: $purple;    }
  50%   { left: 1rem;     top: 1rem;    background-color: $rose;      }
  75%   { left: -1.25rem; top: -.75rem; background-color: $turkoise;  }
  100%  { left:  -.75rem; top:  .5rem;  background-color: $rose;      }
}

@include keyframes(freakOutSocialBtn) {
  0%    { left: 42.5%;  top: 52.5%; background-color: $rose;      }
  25%   { left:   55%;  top: 40%;   background-color: $purple;    }
  50%   { left:   60%;  top: 55%;   background-color: $yellow;    }
  75%   { left: 37.5%;  top: 45%;   background-color: $turkoise;  }
  100%  { left: 42.5%;  top: 52.5%; background-color: $rose;      }
}

@include keyframes(freakOutCloseBtn) {
  0%    { left: -.5rem;   top: -.25rem; }
  25%   { left:  .5rem;   top: -.5rem;  }
  50%   { left:  .5rem;   top:  .25rem; }
  75%   { left: -.25rem;  top: -.5rem;  }
  100%  { left: -.5rem;   top: -.25rem; }
}

@include keyframes(freakOutLogoDiagonal) {
  0%    { left: 10%;      top: 0;     }
  25%   { left: -10%;     top: 5%;    } 
  50%   { left: 0;        top: -10%;  } 
  75%   { left: 0;        top: 5%;    } 
  100%  { left: 10%;      top: 0;     }
}

@include keyframes(freakOutBgColor) {
  0%    { background-color: $yellow;    }
  25%   { background-color: $purple;    }
  50%   { background-color: $turkoise;  }
  75%   { background-color: $rose;      }
  100%  { background-color: $yellow;    }
}

@include keyframes(freakOutBtnArrow) {
  0%    { background-color: $rose;      }
  25%   { background-color: $purple;   }
  50%   { background-color: $rose;     }
  75%   { background-color: $turkoise; }
  100%  { background-color: $rose;     }
}

@include keyframes(navOpen13) {
  0%    { width: 100%;  }
  50%   { width: 0%;    }
  100%  { width: 0%;    }
}

@include keyframes(navOpen2) {
  0%    { width: 80%; }
  50%   { width: 100%; }
  100%  { width: 100%; transform: rotate(45deg) translateZ(0); }
}

@include keyframes(navOpen4) {
  0%    { width: 80%; }
  50%   { width: 100%; }
  100%  { width: 100%; transform: rotate(-45deg) translateZ(0); }
}

@include keyframes(navClose13) {
  0%    { width: 0%;    }
  50%   { width: 0%;    }
  100%  { width: 100%;  }
}

@include keyframes(navClose2) {
  0%    { width: 100%; transform: rotate(45deg) translateZ(0); }
  50%   { width: 100%; transform: rotate(0deg) translateZ(0); }
  100%  { width: 80%; }
}

@include keyframes(navClose4) {
  0%    { width: 100%; transform: rotate(-45deg) translateZ(0); }
  50%   { width: 100%; transform: rotate(0deg) translateZ(0); }
  100%  { width: 80%; }
}


@include keyframes(infiniteRotate) {
  0%    { transform: translateX(-50%) rotate(0deg) translateZ(0);   }
  100%  { transform: translateX(-50%) rotate(360deg) translateZ(0); }
}

$cubic-bezier: cubic-bezier(.55,0,.1,1);
$ease-in-out: cubic-bezier(.55,0,.55,1);

$extralong: .25s;
$long: .125s;
$short: .0625s;
$total: .46875s;


/* ------------------ HOVER ------------------ */
p a {
  transition: color $long $ease-in-out;
}

.nav ul li a {
  transition: color $long $ease-in-out;

  &.hover {
    color: $rose;
    animation: freakOutLink steps(1) $extralong infinite;
  }

  &:active,
  &.touched {
    animation: freakOutLink steps(1) $extralong 0s 1.5;
  }
}

.logo {

  &.hover {
    
    .diagonal-wrapper {
      animation: freakOutLogoDiagonal steps(1) $extralong infinite;

      .diagonal {
        animation: freakOutBgColor steps(1) $extralong infinite;
      }
    }
  }

  &:active,
  &.touched {

    .diagonal-wrapper {
      animation: freakOutLogoDiagonal steps(1) $extralong 0s 1.5;

      .diagonal {
        animation: freakOutBgColor steps(1) $extralong 0s 1.5;
      }
    }
  }
}

.btn:hover,
.project:hover .btn {

  .btn-bg {
    animation: freakOutBtn steps(1) $extralong infinite;

    &:before {
      animation: freakOutBtnArrow steps(1) $extralong infinite;
    }
  }
}

.project img {
  transition: transform $long $ease-in-out;
}

.project:hover img {
  -ms-transform: scale(1.075);
  transform: scale(1.075) translateZ(0); 
}

.verband .view-left .btn {

  &:hover {

    .btn-bg,
    .btn-bg:before {
      animation: none;
    }
  }

  &.hover {

    .btn-bg {
      animation: freakOutBtn steps(1) $extralong infinite;

      &:before {
        animation: freakOutBtnArrow steps(1) $extralong infinite;
      }
    }
  }

  &:active,
  &.touched {

    .btn-bg {
      animation: freakOutBtn steps(1) $extralong 1.5;

      &:before {
        animation: freakOutBtnArrow steps(1) $extralong 1.5;
      }
    }
  }
}

form .btn {
  animation: none;

  &.hover:before {
    animation: freakOutBtn steps(1) $extralong infinite;
  }

  &:active:before,
  &.touched:before {
    animation: freakOutBtn steps(1) $extralong 1.5;
  }
}

.btn-social {

  &.hover:before {
    animation: freakOutSocialBtn steps(1) $extralong infinite;
  }

  &:active:before,
  &.touched:before {
    animation: freakOutSocialBtn steps(1) $extralong 1.5;
  }
}

.footer .container .text .link {
  transition: color $long $ease-in-out;

  &:hover {
    color: $turkoise;
  }
}

.close-btn:hover {

  .close-bg {
    animation: freakOutCloseBtn steps(1) $extralong infinite;

    .first,
    .second {
      animation: freakOutBgColor steps(1) $extralong infinite;
    }
  }
}


/* ------------ FOCUS FORM ELEMENTS ---------- */
.form-group {

  label {
    transition: color $short $ease-in-out, margin-top $short $ease-in-out, font-size $short $ease-in-out;
  }

  .highlight span {
    transition: none;
  }

  input[type="text"],
  input[type="email"],
  textarea {

    &:focus,
    &.notempty {
      ~ .highlight span {
        transition: width $long $ease-in-out;
      }
    }
  }
}


/* ------------ TOGGLE MOMBILE NAV ----------- */
.nav-container {

  &.inactive .nav-trigger {

    .first,
    .third {
      animation: navClose13 $extralong $ease-in-out;
    }

    .second {
      animation: navClose2 $extralong $ease-in-out;
    }

    .fourth {
      animation: navClose4 $extralong $ease-in-out;
    }
  }

  &.active .nav-trigger {

    .first,
    .third {
      animation: navOpen13 $extralong $ease-in-out forwards;
    }

    .second {
      animation: navOpen2 $extralong $ease-in-out forwards;
    }

    .fourth {
      animation: navOpen4 $extralong $ease-in-out forwards;
    }
  }
}

@include for-phone-only { 

  .nav-container {

    &.active {

      .nav {
        opacity: 1;
        padding-bottom: 125%;

        transition: opacity $long $ease-in-out $long, padding-bottom $long $ease-in-out;
      }

      .nav-bg {

        .diagonal-wrapper {
          width: 430%;
          padding-bottom: 430%;
          right: -215%;
              
          -ms-transform: translate(-0%, -50%);
          transform: translate(-0%, -50%) translateZ(0);
          transition: all $extralong $ease-in-out;
        }
      }
    }

    &.inactive {

      .nav {
        opacity: 0;
        padding-bottom: 0;

        transition: opacity $long $ease-in-out, padding-bottom $long $ease-in-out $long;

        ul {
          transition: width 0s $ease-in-out $extralong, overflow 0s $ease-in-out $extralong;
          width: 0;
          overflow: hidden;
        }
      }

      .nav-bg {
        z-index: 1;
        transition: z-index 0s $ease-in-out $extralong;

        .diagonal-wrapper {
          transition: all $extralong $ease-in-out;
        }
      }
    }
  }
}

@include for-phone-landscape-only {

  .nav-container {

    &.active {

      .nav {
        padding-bottom: 50%;
      }

      .nav-bg {

        .diagonal-wrapper {
          width: 280%;
          padding-bottom: 280%;
          right: -140%;
        }
      }
    }
  }
}


/* ----------------- NAVIGATE ---------------- */
.current-page-pointer {
  transition: left $total $ease-in-out;
}

.view {
  transition: transform $long $cubic-bezier, opacity $short $ease-in-out;

  &.slide-left-leave-active,
  &.slide-right-leave-active {
    transition: transform $long $cubic-bezier $long, opacity $short $ease-in-out $long;
  }
}

.slide-left-enter, 
.slide-right-leave-active {
  opacity: 0;

  -ms-transform: translate(25%, 0);
  transform: translate(25%, 0) translateZ(0);
}

.slide-left-leave-active, 
.slide-right-enter {
  opacity: 0;

  -ms-transform: translate(-25%, 0);
  transform: translate(-25%, 0) translateZ(0);
}

.container-right,
.btn {
  transition: transform $long $ease-in-out, opacity $long $ease-in-out;
}

@for $i from 1 through 4 {
  $duration: ($i * 0.0625) + s;
  .project-#{$i} {
    transition: transform $duration $ease-in-out, opacity $duration $ease-in-out;
  }
}

.view-center:nth-child(odd) {
  transition: transform $long $ease-in-out, opacity $long $ease-in-out;
}

.view-center:nth-child(even) {
  transition: transform $extralong $ease-in-out, opacity $extralong $ease-in-out;
}

.slide-left-enter-active, 
.slide-right-leave-active {

  .container-right,
  .btn,
  .view-center {
    opacity: 0;

    -ms-transform: translate(5%, 0);
    transform: translate(5%, 0) translateZ(0);
  }

  .project {
    opacity: 0;

    -ms-transform: translate(5%, -5%);
    transform: translate(5%, -5%) translateZ(0);
  }
}

.slide-left-leave-active,
.slide-right-enter-active {

  .container-right,
  .btn,
  .view-center {
    opacity: 0;

    -ms-transform: translate(-5%, 0);
    transform: translate(-5%, 0) translateZ(0);
  }

  .project {
    opacity: 0;

    -ms-transform: translate(-5%, 5%);
    transform: translate(-5%, 5%) translateZ(0); 
  }
}

.view {
  .view-left,
  .view-right {
    transition: transform $long $cubic-bezier;
  }
}

.slide-left-leave-active,
.slide-right-leave-active {

  .view-left,
  .view-right {
    transition: transform $long $cubic-bezier $long;
  }

}

.slide-left-leave-active,
.slide-left-enter {

  .view-left {
    -ms-transform: translate(20%, 0);
    transform: translate(20%, 0) translateZ(0);
  }

  .view-right {
    -ms-transform: translate(-20%, 0);
    transform: translate(-20%, 0) translateZ(0);
  }
}

.slide-right-leave-active,
.slide-right-enter {

  .view-left {
    -ms-transform: translate(20%, 0);
    transform: translate(20%, 0) translateZ(0);
  }

  .view-right {
    -ms-transform: translate(-20%, 0);
    transform: translate(-20%, 0) translateZ(0);
  }

}

.slide-right-leave-active,
.slide-right-enter-active {

  .view-left {
    z-index: 20;
  }
}


/* ----------------- BETWEEN PAGES ---------------- */
.logo-perspective {
  transition: width $long $ease-in-out $long, padding-bottom $long $ease-in-out $long;
}

.logo {
  transition: left $long $ease-in-out $long, width $long $ease-in-out $long;
}

.logo-wrapper {
  transition: padding-bottom $long $ease-in-out $long;
}

.no-transition {
  .logo-perspective,
  .logo,
  .logo-wrapper {
    opacity: 0;
    transition: none;
    transition: opacity 0s .2s;
  }
}
