/* ---------------- VARIABLES ---------------- */
$white:     #fff;
$black:     #000;
$rose: 	    #f06;
$purple:    #5c00da;
$turkoise:  #00d1af;
$turkoise-light: #67ebd6;
$bordeaux:  #2e0f1b;
$yellow:    #ffe259;
$red:       #a04;
$beige:     #f8f3e5;

$turkoise-transparent: rgba(0,209,175,.75);

$anson:     'Anson', Helvetica, Arial, sans-serif;
$bignoodle: 'Bignoodletitling', Helvetica, Arial, sans-serif;


/* ----------------- GENERAL ----------------- */
html {
  height: 100%;
  font-size: 6px;

  @include for-phone-only {
    font-size: 1.85vw;
  }

  @include for-container-up {
    font-size: 6px;
  }

  @include for-tablet-portrait-only {
    font-size: 4.65px;
  }

  @include for-big-desktop-up {
    font-size: .375vw;
  }
}

body {
	background-color: $white;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* DISPLAY FLEX FOR STICKY FOOTER */
#app {
  display: flex;
  flex-direction: column;
}
#app,
.app-wrapper {
  min-height: 100vh;
}
.main {
  flex: 1 0 auto;
}

.not-found {
  background-color: $white;
  filter: invert(100%);
}

/* CLEARFIX */
.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

.text-center {
  text-align: center;
}

::selection {
  background: $turkoise-transparent; /* WebKit/Blink Browsers */
  color: $bordeaux;
}

::-moz-selection {
  background: $turkoise-transparent; /* Gecko Browsers */
  color: $bordeaux;
}

#app {
  font-family: $anson;
  font-size: 3rem;
  line-height: 3.6666666666666667rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  color: $white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $bignoodle;
  color: $rose;
  font-weight: 400;
  text-transform: uppercase;
}

h1, h2 {
  font-size: 7.5rem;
  line-height: 8.25rem;
  margin-bottom: 3rem;

  @include for-phone-only {
    font-size: 6.5rem;
    line-height: 7.125rem;
    margin-bottom: 2rem;
  }
}

h2 {
  color: $bordeaux;
}

p {
  margin: .5rem 0 2rem;
  line-height: 3.6666666666666667rem;

  a {
    text-decoration: underline;
    color: $white;

    &:hover {
      color: $turkoise-light;
    }
  }
}

a:focus {
  outline: none;
}


/* ----------------- FORMS ------------------- */
form {
  margin: 2.5rem 0;
}

.form-group {
  position: relative;
  min-height: 5rem;
  margin: 0 0 3.5rem;

  &.do-not-enter {
    display: none;
  }

  .input-wrapper {
    position: relative;
  }

  &.resize .input-wrapper {
    min-height: 3.6666666666666667rem;
    padding: 1.165rem 0;
    border-bottom: 1px solid $white;
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 0;
    cursor: text;
    color: $white;
  }

  &.error label {
    color: $red;
  }

  &.notempty label {
    font-size: 2.25rem;
    margin-top: -3.25rem;
  }

  .highlight {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    text-align: center;

    span {
      display: inline-block;
      width: 0;
      height: 2px;
      vertical-align: top;
      background-color: $turkoise-light;
    }
  }

  &.error .highlight span {
    width: 100%;
    background-color: $red;
  }

  &.resize .highlight {
    bottom: -1px;
  }

  .error-msg {
    font-size: 2.25rem;
    display: inline-block;
    line-height: 3rem;
    margin: 1rem 0 0;
    color: $red;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: $anson;
    font-size: 3rem;
    line-height: 3.6666666666666667rem;
    color: $white;
    caret-color: $turkoise-light;
    outline: none;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    -webkit-appearance: none;

    &:focus,
    &:active {
      outline: none;
    }

    &:focus {

      ~ label {
        color: $turkoise-light;
        font-size: 2.25rem;
        margin-top: -3.25rem;
      }

      ~ .highlight span {
        width: 100%;
      }
    }
  }

  input[type="text"],
  input[type="email"] {
    min-height: 5.75rem;
    border-bottom: 1px solid $white;
  }

  textarea {
    min-height: 3.6666666666666667rem;
    height: 3.6666666666666667rem;
    max-height: 22rem;
    border-bottom: 0;
    overflow: hidden;
    word-wrap: break-word;
    resize: none !important;
  }

  &.error {

    input[type="text"],
    input[type="email"],
    textarea {
      caret-color: $red;

      &:focus ~ label {
        color: $red;
      }
    } 
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  margin: 0 0 4rem !important;

  ~ label {
    margin-top: -4rem !important;
  }
}

form .btn,
.view-right .diagonal-wrapper form .btn {
  position: relative;
  float: right;
  top: auto;
  left: auto;
  margin: 3rem 0 0;
  border: none;
}

form .btn {
  background-color: $yellow;
  border: none;
  cursor: pointer;
  padding: 0;

  &:focus,
  &:active {
    outline: none;
  }

  span {
    position: relative;
    display: inline-block;
    padding: 2rem 2.5rem;
    background-color: $yellow;
  }

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    height: 100%;
    width: 100%;
  }
}


/* ----------------- HEADER ------------------ */
.header {
  position: absolute;
  width: 100%;
}

.home .logo-wrapper {
  padding-bottom: 25%;

  @include for-phone-only {
    padding-bottom: 100%;
  }

  @include for-phone-landscape-only {
    padding-bottom: 40%;
  }
}

.logo-wrapper {
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  padding-bottom: 8.3333333333334%;

  @include for-phone-only {
    left: 0;
    width: 100%;
    padding-bottom: 50%;
  }

  @include for-phone-landscape-only {
    padding-bottom: 40%;
  }
}

.home .logo-perspective {
  width: 70.71067811865475%;
  padding-bottom: 17.6666666666666667%;

  @include for-phone-only {
    width: 114.64466094067263%;
    padding-bottom: 53%;

    -ms-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%) translateZ(0);
  }

  @include for-phone-landscape-only {
    width: 50%;
    padding-bottom: 28.275%;

    -ms-transform: translateX(45%) rotate(45deg) translateY(-100%);
    transform: translateX(45%) rotate(45deg) translateY(-100%) translateZ(0);
  }
}

.logo-perspective {
  position: absolute;
  width: 17.6666666666666667%;
  top: 0;
  left: 0;
  padding-bottom: 11.75%;

  -ms-transform: rotate(45deg) translateY(-100%);
  transform: rotate(45deg) translateY(-100%) translateZ(0);
  transform-origin: left top;

  @include for-phone-only {
    width: 35.5%;
    padding-bottom: 35.5%;

    -ms-transform: rotate(45deg) translateY(-100%);
    transform: rotate(45deg) translateY(-100%) translateZ(0);
  }

  @include for-phone-landscape-only {
    width: 50%;
    padding-bottom: 28.275%;

    -ms-transform: translateX(45%) rotate(45deg) translateY(-100%);
    transform: translateX(45%) rotate(45deg) translateY(-100%) translateZ(0);
  }
}

.home .logo {
  left: 50%;
  width: 25%;

  @include for-phone-only {
    left: 25%;
    width: 75%;
  }

  @include for-phone-landscape-only {
    left: 42.5%;
    width: 40%;
  }
}

.logo {
  position: absolute;
  display: block;
  bottom: 0;
  left: 16.6666666666666667%;
  width: 16.6666666666666667%;

  -ms-transform: translateX(-50%);
  transform: translateX(-50%) translateZ(0);

  @include for-phone-only {
    left: 25%;
    width: 50%;

    -ms-transform: none;
    transform: none;
  }

  @include for-phone-landscape-only {
    left: auto;
    right: 17.5%;
    width: 40%;
  }

  img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
  }

  .diagonal-wrapper {
    left: 10%;
  }
}


/* ------------------- NAV ------------------- */
.close-trigger {
  position: absolute;
  top: 0;
  right: 1.5rem;
  padding: 5rem 5rem;
  height: 6rem;
  width: 6rem;
  
  @media (max-width: 1530px) {
    right: 50rem;
  }

  @include for-phone-only {
    position: absolute;
    top: 7.5%;
    right: 0;
    padding: 5rem 32px;
    height: 32px;
    width: 32px;
  }

  .close-btn {
    position: relative;
    height: 6rem;
    width: 6rem;
    display: block;

    @include for-phone-only {
      height: 32px;
      width: 32px;
    }

    .first,
    .second {
      position: absolute;
      top: 2.5rem;
      right: 0;
      width: 100%;
      height: .5rem;
      background-color: $white;

      @include for-phone-only {
        height: 4px;
      }
    }

    .first {
      -ms-transform: rotate(45deg);
      transform: rotate(45deg) translateZ(0);
    }

    .second {
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg) translateZ(0);
    }
  }

  .close-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 6rem;
    width: 6rem;

    @include for-phone-only {
      display: none;
    }
  }
}

.nav-trigger {
  position: absolute;
  top: 0;
  right: 0;
  padding: 32px;
  height: 32px;
  width: 32px;

  .nav-btn {
    position: relative;
    height: 32px;
    width: 32px;
  }

  .first,
  .second,
  .third,
  .fourth {
    position: absolute;
    right: 0;
    width: 100%;
    height: 4px;
    background-color: $bordeaux;
  }

  .second,
  .fourth {
    width: 80%;
    position: absolute;
    top: 12px;
  }

  .third {
    top: 24px;
  }
}

.home .nav-bg .diagonal-wrapper {
  width: 110%;
  padding-bottom: 110%;

  @include for-phone-landscape-only {
    width: 67.25%;
    padding-bottom: 67.25%;
  }
}

.nav-bg {
  position: absolute;
  width: 100%;
  height: 100%;

  .diagonal-wrapper {
    height: auto;
    width: 100%;
    padding-bottom: 100%;
    left: auto;
    right: -55%;
        
    -ms-transform: translate(-0%, -50%);
    transform: translate(-0%, -50%) translateZ(0);

    @include for-phone-landscape-only {
      width: 67.25%;
      padding-bottom: 67.25%;
      right: -33.625%;
    }
  }
}

.nav {
  position: relative;
  float: right;
  width: 75%;
  margin: 4rem 0;

  @include for-phone-only {
    position: absolute; 
    opacity: 0;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  ul {
    display: block;
    list-style-type: none;
    padding: 0;

    @include for-phone-only {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;

      -ms-transform: translateY(-50%);
      transform: translateY(-50%) translateZ(0);
    }

    li {
      display: inline-block;
      margin: 0 3rem;

      @include for-phone-only { 
        display: block;
        position: relative;
      }

      .router-link-active {
        color: $rose;

        @include for-phone-only {

          &:before {
            content: ' ';
            position: absolute;
            top: 0.45rem;
            right: -2rem;
            display: block;
            height: 5rem;
            width: 5rem;
            background-color: $yellow;

            -ms-transform: rotate(45deg);
            transform: rotate(45deg) translateZ(0);

            @include for-phone-landscape-only {
              height: 3rem;
              width: 3rem;
              right: -0.5rem;
            }
          }
        }
      }

      a {
        position: relative;
        display: inline-block;
        padding: 1rem 2rem;
        font-family: $bignoodle;
        font-size: 4rem;
        line-height: 4rem;
        color: $bordeaux;
        text-decoration: none;
        text-transform: uppercase;

        @include for-phone-landscape-only {
          font-size: 2.5rem;
          padding: 0 2rem;
        }
      }
    }
  }

  .current-page-pointer {
    display: none;
    height: 7rem;
    width: 7rem;
    top: -.5rem;
    margin-left: -4rem;

    @include for-phone-only {
      display: none !important;
    }
  }
}


/* ------------------- VIEW ------------------ */
#app {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.app-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  
  @include for-container-up {
    min-width: 1535px;
    left: 50%;

    -ms-transform: translateX(-50%);
    transform: translateX(-50%) translateZ(0);
  }

  @include for-tablet-portrait-only {
    min-width: 1176px;
    left: 50%;

    -ms-transform: translateX(-50%);
    transform: translateX(-50%) translateZ(0);
  }

}

.view {
  width: 100%;
  padding-bottom: 75%;

  @include for-phone-only {
    position: relative;
    margin-top: 37.5%;
    padding-bottom: 400%;
  }

  @include for-phone-landscape-only {
    margin-top: -22.5%;
  }
}

.view-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  padding-bottom: 75%;

  @include for-phone-only {
    top: 0;
    width: 62.5%;
    padding-bottom: 125%;
  }

  .diagonal-wrapper {
    height: auto;
    width: 200%;
    padding-bottom: 200%;
    top: -33.3333333333333334%;
    left: -100%;

    @include for-phone-only {
      top: 0;
    }
  }

  .btn {
    left: 50%;
    top: 53%;
  }
}

.view-right {
  position: absolute;
  top: 0;
  left: 37.5%;
  width: 62.5%;
  padding-bottom: 75%;

  @include for-phone-only {
    margin-top: 25%;
  }

  .diagonal-wrapper {
    height: auto;
    width: 200%;
    padding-bottom: 200%;
    top: -33.3333333333333334%;

    @include for-phone-only {
      left: -50%;
    }

    .btn {
      left: 12.5%;
      bottom: 32%;
      margin-left: 2rem;
      margin: 1rem 2rem;
    }
  }
}

.view-center {
  position: absolute;
  width: 50%;
  padding-bottom: 50%;

  &:nth-child(odd) {
    margin-top: 37.5%;
    left: 12.5%;

    @include for-phone-only {
      margin-top: 310%;

      .diagonal-wrapper {
        left: -250%;
      }
    }

    @include for-phone-landscape-only {
      margin-top: 307.5%;
    }
  }

  &:nth-child(even) {
    margin-top: 62.5%;
    left: 37.5%;

    @include for-phone-only {
      margin-top: 510%;
      
      .diagonal-wrapper {
        left: -50%;
      }
    }

    @include for-phone-landscape-only {
      margin-top: 507.5%;
    }
  }
}

.view-right,
.view-center:nth-child(odd),
.view-center:nth-child(even) {

  @include for-phone-only {
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 300%;

    .diagonal-wrapper {
      height: auto;
      top: -16.6666666666666667%;
      width: 400%;
      padding-bottom: 400%;
    }
  }
}

.container {
  position: relative;
  max-width: 50%;
  margin: 0 auto;

  @include for-phone-only {
    max-width: 100%;
  }
}

.container-left {
  position: relative;
  max-width: 25%;

  @include for-phone-only {
    max-width: 100%;
  }
}

.container-right {
  position: absolute;
  top: 40%;
  left: 0;
  max-width: 30%;

  .text {
    width: 60%;
  }
}

.container-center {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 100%;
  height: 80%;
  max-width: 45%;

  .text {
    width: 100%;
    height: 100%;

    .btn-left {
      margin-left: -2rem;
      bottom: 29%;

      @include for-phone-only {
        bottom: 53.85%;
        right: 0;
        margin-right: 2rem;
      }
    }
  }
}

.container-right,
.view-center:nth-child(even) .container-center {

  @include for-phone-only {
    left: 12.5%;
  }

  .text {

    h1, h2 {
      text-align: right;
    }

    .heading-indicator {
      right: -9rem;
      left: auto;
    }
  }
}

.view-center:nth-child(odd) .container-center {

  @include for-phone-only {
    left: 62.5%;
  }

  .text {

    h1 {
      text-align: right;
      color: $bordeaux;

      @include for-phone-only {
        text-align: left;
      }
    }

    h2 {
      text-align: right;

      @include for-phone-only {
        text-align: left;
      }
    }

    .heading-indicator {
      right: -9rem;
      left: auto;

      @include for-phone-only {
        right: auto;
        left: -9rem;
      }
    }
  }
}

.container-right,
.view-center:nth-child(odd) .container-center,
.view-center:nth-child(even) .container-center {

  @include for-phone-only {
    top: 28.6%;
    max-width: 25%;
  }

  .text {
    position: relative;
    float: right;

    @include for-phone-only {
      width: 100%;
    }

    .text-padding {
      padding: 1rem 2rem;

      @include for-phone-only {
        padding: 2rem;
      }
    }

    .heading-wrapper {
      height: 16.4rem;
      margin-bottom: 3rem;
      display: table;
      text-align: right;
      width: 100%;

      @include for-phone-only {
        height: 14.2rem;
      }
    }

    h1, h2 {
      position: relative;
      display: inline-block;
      width: 100%;
      margin-bottom: 0;
      display: table-cell;
      vertical-align: bottom;
    }

    .heading-indicator {
      top: 0;
      height: 18rem;
      width: 18rem;
      padding-bottom: 0;
    }
  }
}


/* ------------------ FOOTER ----------------- */
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: hidden;

  .container {
    padding-bottom: 25%;

    @include for-phone-only {
      padding-bottom: 125%;
    }

    .text {
      position: absolute;
      top: 30%;
      left: 50%;
      width: 20%;

      -ms-transform: translateX(-50%);
      transform: translateX(-50%) translateZ(0);

      @include for-phone-only {
        width: 50%;
      }

      strong,
      .link {
        display: inline-block;
      }

      strong {
        font-family: $bignoodle;
        font-size: 4rem;
        line-height: 4rem;
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 4rem;
      }

      .link {
        color: $white;
        text-decoration: none;
        margin: .5rem 0;
      }

      .social-wrapper {
        position: relative;
        width: 100%;
        margin-top: 6rem;
      }
    }

    .diagonal-wrapper {
      padding-bottom: 50%;

      @include for-phone-only {
        width: 250%;
        left: -75%;
        padding-bottom: 125%;
      }
    }
  }
}


/* ---------------- DIAGONALS ---------------- */
.diagonal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.diagonal {
  position: absolute;
  top: 14.64466094067263%;
  left: 14.64466094067263%;
  width: 70.71067811865475%;
  height: 70.71067811865475%;
  overflow: hidden;

  -ms-transform: rotate(45deg);
  transform: rotate(45deg) translateZ(0);

  .img-wrapper {
    position: absolute;
    width: 141.71067811865475%;
    padding-bottom: 141.71067811865475%;
    top: 50%;
    left: 50%;

    -ms-transform: translate(-50%,-50%) rotate(-45deg);
    transform: translate(-50%,-50%) rotate(-45deg) translateZ(0);
    transform-origin: center;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }

    .vue-map-container {
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;

      @media (min-width: 1025px) and (max-width: 1440px) {
        left: 53%;
        width: 47% !important;
      }

      @media (min-width: 901px) and (max-width: 1024px) {
        left: 66.6666667%;
        width: 33.3333333% !important;
      }

      @media (min-width: 769px) and (max-width:900px) {
        left: 61.75%;
        width: 38.25% !important;
      }

      @media (min-width: 601px) and (max-width: 768px) {
        left: 67.25%;
        width: 32.75% !important;
      }

      @include for-phone-only {
        left: 36%;
        width: 55% !important;
      }
    }
  }
}


/* ----------------- BUTTONS ----------------- */
.btn {
  display: block;
  position: absolute;
  margin-bottom: -4rem;
  font-family: $bignoodle;
  font-size: 4rem;
  line-height: 4rem;
  color: $bordeaux;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-fg {
  position: relative;
  display: block;
  padding: 2rem 2.5rem;
  background-color: $yellow;

  &:before {
    background-color: $yellow;
  }
}
  
.btn-bg {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 100%;
  height: 100%;
}

.btn-fg,
.btn-bg {

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    height: 5.635rem;
    width: 5.635rem;
    top: 0;

    @include for-phone-only {
      height: 5.55rem;
      width: 5.55rem;
    }
  }
}

.btn-right {
  padding-right: 2rem;

  .btn-fg:before,
  .btn-bg:before {
    right: 0;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg) translateZ(0);
    transform-origin: right top;
  }
}

.btn-left {
  padding-left: 2rem;

  .btn-fg:before,
  .btn-bg:before {
    left: 0;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg) translateZ(0);
    transform-origin: left top;
  }
}

.btn-social {
  position: relative;
  top: 0;
  left: 50%;
  display: block;
  height: 7rem;
  width: 7rem;
  margin-top: -2rem;

  .btn-social-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  img {
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    left: 0;
  }

  &:before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70.71067811865475%;
    height: 70.71067811865475%;

    -ms-transform: translate(-50%,-50%) rotate(-45deg);
    transform: translate(-50%,-50%) rotate(-45deg) translateZ(0);
    transform-origin: center;
  }

  &:after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70.71067811865475%;
    height: 70.71067811865475%;
    background-color: $white;

    -ms-transform: translate(-50%,-50%) rotate(-45deg);
    transform: translate(-50%,-50%) rotate(-45deg) translateZ(0);
    transform-origin: center;
  }

  &.facebook {
    margin-left: -5rem;

    img {
      left: 0;
    }
  }
  &.linkedin {
    margin-right: -5rem;

    img {
      left: -7rem;
    }
  }
  &.whatsapp {
    margin-left: -5rem;

    img {
      left: -14rem;
    }
  }
}


/* ---------------- BG COLORS ---------------- */
.bg-yellow {
  background-color: $yellow;
}

.bg-bordeaux {
  background-color: $bordeaux;
}

.bg-white {
  background-color: $white;
}

.bg-beige {
  background-color: $beige;
}

.home .bg-purple-rose.logo-perspective {
  @include linear-gradient(90deg, $purple, $rose 53%);
}

.bg-purple-rose {
  @include linear-gradient(90deg, $purple, $rose);

  @include for-phone-landscape-only {
    @include linear-gradient(90deg, $purple, $rose 53%);
  }
}

.bg-purple-turkoise {
  @include linear-gradient(180deg, $purple, $turkoise);
}

.view-right .bg-purple-turkoise {
  @include linear-gradient(180deg, $purple 50%, $turkoise);

  @include for-phone-only {
    @include linear-gradient(180deg, $purple 25%, $turkoise);
  }
}

.view-center .bg-purple-turkoise {

  @include for-phone-only {
    @include linear-gradient(180deg, $purple 25%, $turkoise);
  }
}

.verband .view-center .bg-purple-turkoise {

  @include for-phone-only {
    @include linear-gradient(180deg, $purple, $turkoise 75%);
  }
}

.view-center .bg-purple-rose {
  @include linear-gradient(90deg, $purple, $rose);

  @include for-phone-only {
    @include linear-gradient(90deg, $purple 25%, $rose);
  }
}


/* -------------- HIDE CLASSES --------------- */
.hide-for-phone-only{
  display: block;

  @include for-phone-only {
    display: none;
  }
}

.show-for-phone-only  {
  display: none; 

  @include for-phone-only {
    display: block;
  }
}


/* ---------------- Z-INDEXES ---------------- */
.header .logo-wrapper .logo {
  z-index: 30;
}

.gevolg .view-left {
  z-index: 25;

  @include for-phone-only {
    z-index: 5;
  }
}

.logo-perspective {
  z-index: 10;
}

.logo {
  z-index: 15;

  img {
    z-index: 10;
  }

  .diagonal-wrapper {
    z-index: 5;
  }
}

.nav-trigger,
.close-trigger {
  z-index: 70;
}

.close-btn > .first,
.close-btn > .second {
  z-index: 5;
}


.nav-bg {
  z-index: 60;
}

.nav {
  z-index: 65;

  ul li {

    @include for-phone-only { 
      z-index: 1;

      .router-link-active:before {
        z-index: -1;
      }
    }

    a {
      z-index: 10;
    }

    .current-page-pointer {
      z-index: 5;
    }
  }
}

.container-right,
.container-center {
  z-index: 20;

  h1, h2 {
    z-index: 10;
  }

  .heading-indicator {
    z-index: 5;
  }
}

.btn {
  z-index: 50;
}

.btn-fg {
  z-index: 10;
}
  
.btn-bg {
  z-index: 5;
}

.btn-fg:before,
.btn-bg:before {
  z-index: -1;
}

form .btn {

  span {
    z-index: 10;
  }

  &:before {
    z-index: 5;
  }
}

.btn-social {

  img {
    z-index: 15;
  }

  &:before {
    z-index: 5;
  }

  &:after {
    z-index: 10;
  }
}

.form-group {

  input[type="text"],
  input[type="email"],
  textarea {
    z-index: 10;
  }

  label {
    z-index: 5;
  }
}

.footer .container .text {
  z-index: 30;
}
