/// Mixin printing a linear-gradient as well as a plain color fallback 
/// and the `-webkit-`, `-o-` and `-moz-` prefixed declaration
/// @author Hugo Giraudel
/// @access public
/// @param {Keyword | Angle} $direction - Linear gradient direction
/// @param {Arglist} $color-stops - List of color-stops composing the gradient
@mixin linear-gradient($direction, $color-stops...) {
  // Direction has been omitted and happens to be a color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 2), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: -o-linear-gradient(legacy-direction($direction), $color-stops);
  background: -moz-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

/// Mixin to easily vendor-prefix your keyframes
/// @author Yoeran Luteijn
/// @access public
/// @param {String} $animationName - Name of your animation
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
      @content;
  }
  @-moz-keyframes #{$animationName} {
      @content;
  }
  @-o-keyframes #{$animationName} {
      @content;
  }
  @keyframes #{$animationName} {
      @content;
  }
}

// Breakpoints
@mixin for-phone-only {
  @media (max-width: 600px) { @content; }
}
@mixin for-phone-landscape-only {
  @media (max-width: 600px) and (orientation: landscape) { @content; }
}
@mixin for-tablet-portrait-only {
  @media (min-width: 601px) and (max-width: 900px) { @content; }
}
@mixin for-tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1200px) { @content; }
}
@mixin for-desktop-only {
  @media (min-width: 1200px) and (max-width: 1800px) { @content; }
}


@mixin for-tablet-portrait-up {
  @media (min-width: 601px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}


@mixin for-container-up {
  @media (min-width: 765px) { @content; }
}
