<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pien van Dalen</title>
    <meta name="description" content="Portfoliowebsite van frontend developer en designer Pien van Dalen. Ik hou van maken. Designs, logo's, websites, applicaties - vanalles eigenlijk.">
    <meta name="author" content="Pien van Dalen">
    <meta name="keywords" content="Pien van Dalen, Assen, maken, webdesign, web design, webdevelopment, web development, webdesigner, designer, webdeveloper, developer, frontend, front end, java, logo, logo's, portfolio">

    <meta name="robots" content="noopd">
    <meta name="googlebot" content="noopd">

    <base href="/">

    <link rel="canonical" href="https://www.pienvandalen.nl/">

    <meta name="msapplication-tap-highlight" content="no">
    <meta name="format-detection" content="telephone=no">

    <link rel="icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon.png">
    <link rel="icon" type="image/png" sizes="196x196" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-196x196.png">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="128x128" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-128x128.png">

    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
    <meta name="theme-color" content="#ffe259">
    <meta name="msapplication-navbutton-color" content="#ffe259">

    <!-- Add to home screen for Safari on iOS -->
    <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/p.svg" color="#2e0f1b" sizes="any">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Pien van Dalen">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-180x180.png">

    <!-- Add to home screen for Windows -->
    <meta name="application-name" content="Pien van Dalen">
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-square70x70logo" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/mstile-70x70.png">
    <meta name="msapplication-square71x71logo" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/mstile-70x70.png">
    <meta name="msapplication-square150x150logo" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/mstile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/mstile-310x150.png">
    <meta name="msapplication-square310x310logo" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/mstile-310x310.png">
    <meta name="msapplication-TileColor" content="#2e0f1b">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37200989-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-37200989-1');
    </script>
  </head>
  <body>
    <noscript>
      Het ziet ernaar uit dat JavaScript niet kon laden. JavaScript is noodzakelijk om de content van deze site te bekijken.
      Dit kan veroorzaakt worden door:
      <ul>
        <li>een slechte netwerkverbinding</li>
        <li>het feit dat JavaScript uitgeschakeld is in je browserinstellingen</li>
      </ul>
    </noscript>
    <div id="app"></div>
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
  </body>
</html>
