<template>
  <div class="gevolg">

    <div class="view-left view-left-smaller">
      <div class="diagonal-wrapper">
        <div class="diagonal bg-purple-rose"></div>
      </div>
    </div>

    <view-left>
      <div class="project-row">
        <router-link tag="a" :to="'/gevolg/' + project.path" :class=" 'project project-' + [index]" v-for="(project, index) in projects" :key="project.name" v-if="project.path !== '/'">
          <div>
            <div class="img-wrapper">
              <img :src="project.meta.image" :alt="project.name" />
            </div>
          </div>
          <span class="btn btn-right">
            <span class="btn-fg">{{ project.name }}</span>
            <span class="btn-bg"></span>
          </span>
        </router-link>
      </div>
    </view-left>

    <view-right :title="title">
      <p>
        Je zou het niet verwachten, maar ik maak nog wel eens wat. Wat je hier ziet, is het gevolg daarvan: mijn portfolio. Deze verzameling is een selectie van de meest recente verwezenlijkingen.
      </p>
    </view-right>
  </div>
</template>

<script>
  import Page from '@/page'

  export default {
    mixins: [Page],
    data () {
      return {
        projects: this.$router.options.routes[1].children
      }
    }
  }
</script>

<style lang="scss" scoped>

  @mixin for-phone-only {
    @media (max-width: 600px) { @content; }
  }
  @mixin for-phone-landscape-only {
    @media (max-width: 600px) and (orientation: landscape) { @content; }
  }


  /* ------------------- VIEW ------------------ */
  .view {
    margin-top: 0;

    @include for-phone-only {
      padding-bottom: 825%;
    }

    @include for-phone-landscape-only {
      padding-bottom: 810.5%;
      margin-top: -12.5%;
    }
  }

  .view-left {

    @include for-phone-only {
      width: 100%;
      padding-bottom: 275%;
    }
  }

  .view-left.view-left-smaller {

    @include for-phone-only {
      width: 400%;
      padding-bottom: 600%;
      margin-top: -50%;
    }

    @include for-phone-landscape-only {
      width: 390.5%;
      padding-bottom: 586%;
    }

    .diagonal-wrapper {
      height: auto;
      width: 150%;
      padding-bottom: 150%;
      left: -75%;
      top: 0;
    }
  }

  .view-right {

    @include for-phone-only {
      margin-top: 450%;
    }
    
    @include for-phone-landscape-only {
      margin-top: 435.5%;
    }
  }


  /* ----------------- PROJECTS ---------------- */
  .project-row {
    float: right;
    position: relative;
    width: 50%;
    height: 50%;

    @include for-phone-only {
      width: 150%;
      height: 150%;
      margin-right: -75%;
    }

    .project {
      position: relative;
      float: left;
      width: 50%;
      height: 50%;
      text-decoration: none;

      &:nth-child(even) {

        @include for-phone-only {
          top: 16.6666666666666667%;

          .btn {
            transform-origin: left center;
            left: 28%;
            top: 98%;
            right: auto;
          }
        }
      }

      &:nth-child(3n),
      &:nth-child(4n) {
        left: 50%;

        @include for-phone-only {
          top: 16.6666666666666667%;
          left: 66.6666666666666667%;
        }
      }

      &:nth-child(4n) {

        @include for-phone-only {
          top: 33.3333333333333334%;
        }
      }

      > div {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
      }

      .btn {
        left: auto;
        right: -2.5%;
        top: 25%;

        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg) translateZ(0);
        transform-origin: right center;

        @include for-phone-only {
          top: 24%;
        }
      }
    }
  }

</style>
