<template>
  <div class="home">

    <view-left>
      <div class="img-wrapper">
        <img src="../assets/img/pien-van-dalen.jpg" alt="Pien van Dalen" />
      </div>

      <router-link tag="a" to="/verband" class="btn btn-right hide-for-phone-only" slot="btn-slot">
        <div class="btn-fg">Bel of mail me</div>
        <div class="btn-bg"></div>
      </router-link>
    </view-left>

    <view-right title="Ik ben niet zo van de pretentieuze slogans">
      <p>
        Je verwacht wellicht echter toch dat ik hier wat over mezelf verkondig, dus: <router-link tag="a" to="/gevolg" title="Bekijk mijn portfolio">ik hou van maken</router-link>. Dingen creëren. Designs, illustraties, games, logo's, gerechten, websites, applicaties - vanalles eigenlijk.
      </p>
      <p>
        Het liefst zo perfectionistisch mogelijk. En nog liever dingen die ik nog niet eerder gemaakt heb.
      </p>

      <router-link tag="a" to="/verband" class="btn btn-right show-for-phone-only" slot="btn-slot">
        <div class="btn-fg">Bel of mail me</div>
        <div class="btn-bg"></div>
      </router-link>
    </view-right>

  </div>
</template>

<script>
  import Page from '@/page'

  export default {
    mixins: [Page]
  }
</script>
