<template>
  <gmap-map
    :center="latLng"
    :zoom="12"
    :options="{
      styles: mapStyles,
      disableDefaultUI: true,
      zoomControl: true,
      zoomControlOptions: controlOptions,
      fullscreenControl: true,
      fullscreenControlOptions: controlOptions,
      backgroundColor: '#f8f3e5'
    }"
    map-type-id="terrain"
    style="width:50%; height:100%;"
    ref="map"
  >
    <gmap-marker 
      :position="latLng"
      :icon="mapIcon"
    >  
    </gmap-marker> 
  </gmap-map>
</template>

<script>
  import * as VueGoogleMaps from 'vue2-google-maps'

  export default {
    name: 'my-map',
    data () {
      return {
        mapMarkerHeight: 96,
        mapMarkerWidth: 96,
        mapMarkerHalfWidth: 96 / 2,
        latLng: {
          lat: 53.00101,
          lng: 6.5386008
        },
        mapIcon: {
          url: require('../../static/img/icons/favicon.png'),
          size: {width: 1000, height: 1000, f: 'px', b: 'px'},
          scaledSize: {width: 96, height: 96, f: 'px', b: 'px'},
          anchor: {x: 48, y: 96}
        },
        controlOptions: {
          position: ''
        },
        mapStyles: [
          {
            'featureType': 'landscape',
            'stylers': [
              {
                'hue': '#FFBB00'
              },
              {
                'saturation': 43.400000000000006
              },
              {
                'lightness': 37.599999999999994
              },
              {
                'gamma': 1
              }
            ]
          },
          {
            'featureType': 'road.highway',
            'stylers': [
              {
                'hue': '#FFC200'
              },
              {
                'saturation': -61.8
              },
              {
                'lightness': 45.599999999999994
              },
              {
                'gamma': 1
              }
            ]
          },
          {
            'featureType': 'road.arterial',
            'stylers': [
              {
                'hue': '#FF0300'
              },
              {
                'saturation': -100
              },
              {
                'lightness': 51.19999999999999
              },
              {
                'gamma': 1
              }
            ]
          },
          {
            'featureType': 'road.local',
            'stylers': [
              {
                'hue': '#FF0300'
              },
              {
                'saturation': -100
              },
              {
                'lightness': 52
              },
              {
                'gamma': 1
              }
            ]
          },
          {
            'featureType': 'water',
            'stylers': [
              {
                'hue': '#0078FF'
              },
              {
                'saturation': -13.200000000000003
              },
              {
                'lightness': 2.4000000000000057
              },
              {
                'gamma': 1
              }
            ]
          },
          {
            'featureType': 'poi',
            'stylers': [
              {
                'hue': '#00FF6A'
              },
              {
                'saturation': -1.0989010989011234
              },
              {
                'lightness': 11.200000000000017
              },
              {
                'gamma': 1
              }
            ]
          }
        ]
      }
    },
    mounted () {
      this.$nextTick(() => {
        window.addEventListener('resize', this.centerMap, {passive: true})
        VueGoogleMaps.loaded.then(() => {
          /* eslint-disable no-undef */
          this.mapIcon.size = new google.maps.Size(1000, 1000)
          this.resizeMapMarker()
          this.controlOptions.position = google.maps.ControlPosition.LEFT_CENTER
        })
      })
    },
    methods: {
      centerMap () {
        if (this.$refs.map) {
          this.$refs.map.resizePreserveCenter()
        }
      },
      resizeMapMarker (markerWidth, markerHeight) {
        this.mapMarkerWidth = markerWidth || this.mapMarkerWidth
        this.mapMarkerHalfWidth = (markerWidth / 2) || this.mapMarkerHalfWidth
        this.mapMarkerHeight = markerHeight || this.mapMarkerHeight

        /* eslint-disable no-undef */
        this.mapIcon.scaledSize = new google.maps.Size(this.mapMarkerWidth, this.mapMarkerHeight)
        this.mapIcon.anchor = new google.maps.Point(this.mapMarkerHalfWidth, this.mapMarkerHeight)
      }
    }
  }
</script>
