<template>
  <div class="oorzaak">

    <view-left>
      <div class="img-wrapper">
        <img src="../assets/img/pien-van-dalen-op-motor.jpg" alt="Pien van Dalen op Anne's motor" />
      </div>
    </view-left>

    <view-right :title="title">
      <p>
        Het begon allemaal met een liefde voor tekenen. Zodra ik een potlood vast kon houden toen ik klein was, ben ik papier en grafiet gaan verbranden. Ik heb heel wat getekend sindsdien. Op den duur begon voor mij het digitale tekentijdperk; ik ging me op de middelbare school verdiepen in layouts, logo's en digitaal illustreren en designen.
      </p>
      <p>
        28 jaar ben ik nu. Geboren en getogen in Noord-Brabant en sinds enkele jaren woon ik samen met mijn vriendin Anne, te Assen.
      </p>
    </view-right>

    <div>
      <view-center bg-color="bg-purple-rose">
        <div class="heading-wrapper"><h2>Frontend</h2></div>
        <p>
          Op mijn 21e ben ik ICT &amp; Media Design gaan studeren in Eindhoven met het oog op design. Ik ging nu ook designen voor het web. 
        </p>
        <p>
          Sinds de studie ben ik echter geboeid geraakt door programmeren. Alles was nieuw voor me: HTML, CSS, JS, PHP. Een prachtige tijd want ik leerde continu nieuwe dingen. Aan de andere kant betreurde ik het dat ik dit niet eerder had ontdekt. 
        </p>
        <p>
          Inmiddels ben ik gespecialiseerd in frontend development, met drie jaar werkervaring.
        </p>
      </view-center>

      <view-center bg-color="bg-purple-turkoise">
        <div class="heading-wrapper"><h2>Java</h2></div>
        <p>
          Erg leuk natuurlijk, frontend development, maar ik wil meer kunnen. Tijdens mijn studie heb ik niet echt uitgebreid object oriented leren programmeren dus stort ik me nu volledig op Java.
        </p>
        <p>
          Waarom Java? Omdat Java de basis van Android apps is, deviceonafhankelijk is, een uitgebreide library heeft en omdat Java bugs al tijdens het compilen aan het licht brengt in plaats van slechts in runtime.
        </p>
      </view-center>
    </div>

  </div>
</template>

<script>
  import Page from '@/page'

  export default {
    mixins: [Page]
  }
</script>

<style lang="scss" scoped>

  @mixin for-phone-only {
    @media (max-width: 600px) { @content; }
  }
  @mixin for-phone-landscape-only {
    @media (max-width: 600px) and (orientation: landscape) { @content; }
  }


  /* ------------------- VIEW ------------------ */
  .view {
    padding-bottom: 125%;

    @include for-phone-only {
      padding-bottom: 885%;
      margin-top: 25%;
    }

    @include for-phone-landscape-only {
      padding-bottom: 882.5%;
      margin-top: 0;
    }
  }

  .view-left {

    @include for-phone-only {
      width: 100%;
      padding-bottom: 185%;
    }
  }

  .view-right {

    @include for-phone-only {
      margin-top: 110%;
    } 

    @include for-phone-landscape-only {
      margin-top: 107.5%;
    } 
  }

</style>
