<template>
  <div class="page-not-found">

    <view-left>
      <div class="img-wrapper">
        <img src="../assets/img/cake.jpg" alt="De cake is een leugen" />
      </div>

      <router-link tag="a" to="/" exact class="btn btn-right hide-for-phone-only" slot="btn-slot">
        <div class="btn-fg">Naar de homepage</div>
        <div class="btn-bg"></div>
      </router-link>
    </view-left>

    <view-right :title="title">
      <p>
        Het is ontzettend knap dat je een pagina hebt weten te vinden die niet bestaat en we zijn erg, erg verheugd met je prestatie. Om je geweldige succes te vieren, organiseren we een feestje. Probeer de site niet te verlaten en ga terug naar de homepage. Voor je cake.
      </p>

      <router-link tag="a" to="/" exact class="btn btn-right show-for-phone-only" slot="btn-slot">
        <div class="btn-fg">Naar de homepage</div>
        <div class="btn-bg"></div>
      </router-link>
    </view-right>

  </div>
</template>

<script>
  import Page from '@/page'

  export default {
    mixins: [Page]
  }
</script>

<style lang="scss" scoped>

  @mixin for-phone-only {
    @media (max-width: 600px) { @content; }
  }
  @mixin for-phone-landscape-only {
    @media (max-width: 600px) and (orientation: landscape) { @content; }
  }


  /* ------------------- VIEW ------------------ */
  .view {

    @include for-phone-only {
      padding-bottom: 485%;
      margin-top: 25%;
    }

    @include for-phone-landscape-only {
      padding-bottom: 482.5%;
      margin-top: 0;
    }
  }

  .view-left {

    @include for-phone-only {
      width: 100%;
      padding-bottom: 185%;
    }
  }

  .view-right {

    @include for-phone-only {
      margin-top: 110%;
    } 

    @include for-phone-landscape-only {
      margin-top: 107.5%;
    } 
  }

</style>
