<template>
  <div class="project-page">

    <div class="view-left view-left-smaller">
      <div class="diagonal-wrapper">
        <div class="diagonal bg-purple-rose"></div>
      </div>
    </div>

    <view-left>
      <div class="project-row">
        <div class="img-wrapper">
          <img :src="image" :alt="alt" />
        </div>
      </div>
    </view-left>

    <div class="view-right">
      <div class="close-trigger">
        <router-link tag="a" to="/gevolg" class="close-btn">
          <div class="first"></div>
          <div class="second"></div>
          <div class="close-bg">
            <div class="first"></div>
            <div class="second"></div>
          </div>
        </router-link>
      </div>
      <div class="diagonal-wrapper">
        <div class="diagonal">
          <div class="img-wrapper">
            <img :src="image2" :alt="alt2" />
          </div>
        </div>
      </div>
    </div>

    <div>
      <view-center bg-color="bg-purple-rose">
        <div class="heading-wrapper"><h1>{{ title }}</h1></div>
        <p>
          {{ content }}
        </p>
        <router-link tag="a" to="/gevolg" class="btn btn-left">
          <div class="btn-fg">Terug naar het overzicht</div>
          <div class="btn-bg"></div>
        </router-link>
      </view-center>
    </div>

  </div>
</template>

<script>
  import Page from '@/page'

  export default {
    mixins: [Page],
    data () {
      return {
        content: this.$route.meta.content,
        alt: this.$route.meta.alt,
        alt2: this.$route.meta.alt2,
        image: this.$route.meta.image,
        image2: this.$route.meta.image2
      }
    }
  }
</script>

<style lang="scss" scoped>

  @mixin for-phone-only {
    @media (max-width: 600px) { @content; }
  }
  @mixin for-phone-landscape-only {
    @media (max-width: 600px) and (orientation: landscape) { @content; }
  }


  /* ------------------- VIEW ------------------ */
  .view {
    margin-top: 0;
    padding-bottom: 100%;

    @include for-phone-only {
      padding-bottom: 510%;
    }

    @include for-phone-landscape-only {
      margin-top: 0;
    }
  }

  .view-left {

    @include for-phone-only {
      width: 50%;
      padding-bottom: 100%;
    }

    @include for-phone-landscape-only {
      width: 62.5%;
      padding-bottom: 125%;
      margin-top: -22.5%;
    }
  }

  .view-left.view-left-smaller {

    @include for-phone-only {
      display: none;
    }

    @include for-phone-landscape-only {
      display: none;
    }

    .diagonal-wrapper {
      height: auto;
      width: 150%;
      padding-bottom: 150%;
      left: -75%;
      top: 0;
    }
  }

  .view-center:nth-child(odd) {
    margin-top: 37.5%;

    @include for-phone-only {
      margin-top: 135%;
    }
  }

  .view-right {

    @include for-phone-only {
      width: 100%;
      padding-bottom: 185%;
    }

    @include for-phone-landscape-only {
      margin-top: 27.5%;
    }

    .diagonal-wrapper {

      @include for-phone-only {
        top: 0;
        left: -17.5%;
        width: 185%;
        padding-bottom: 185%;
      }
    }
  }


  /* ----------------- PROJECTS ---------------- */
  .project-row {
    float: right;
    position: relative;
    width: 50%;
    height: 50%;
    overflow: hidden;

    @include for-phone-only {
      width: 100%;
      height: 100%;
    }
  }

</style>
