<template>
  <div class="verband">

    <view-left>
      <div class="img-wrapper bg-beige">
        <my-map></my-map>
      </div>

      <a href="https://www.google.nl/maps/dir//Gouwe+9406+GS+Assen/" target="_blank" rel="noopener noreferrer" title="Plan je route naar Assen" class="btn btn-right hide-for-phone-only" slot="btn-slot" @mouseover="mouseOverEffect" @mouseout="mouseOutEffect" @mouseleave="mouseOutEffect" @click="addTouchedClass">
        <div class="btn-fg">Plan de route</div>
        <div class="btn-bg"></div>
      </a>
    </view-left>

    <view-right :title="title">
      <p v-if="responseMessage" class="margin-bottom">{{responseMessage}}</p>
      <p v-if="errorMessage && !responseMessage" class="margin-bottom">{{errorMessage}}</p>
      <form v-if="!responseMessage" id="connection" @submit.prevent="validateBeforeSubmit" novalidate>
        <div class="form-group" :class="{ 'notempty':formFields.name !== '' }">
          <div class="input-wrapper">
            <input type="text" name="name" id="name" v-model="formFields.name">
            <label for="name">Naam</label>
            <div class="highlight"><span></span></div>
          </div>
        </div>
        <div class="form-group" :class="{ 'error': errors.has('email'), 'notempty':formFields.email !== '' }">
          <div class="input-wrapper">
            <input type="email" name="email" id="email" v-validate="'required|email'" v-model="formFields.email" data-vv-validate-on="blur">
            <label for="email">E-mailadres*</label>
            <div class="highlight"><span></span></div>
          </div>
          <span v-show="errors.has('email')" class="error-msg">Als je wil dat ik je terugmail, zul je hier even je e-mailadres in moeten vullen.</span>
        </div>
        <div class="form-group do-not-enter">
          <div class="input-wrapper">
            <input type="text" name="surname" id="surname" v-model="formFields.surname">
            <label for="surname">Vul hier niets in</label>
            <div class="highlight"><span></span></div>
          </div>
        </div>
        <div class="form-group resize" :class="{ 'error': errors.has('message'), 'notempty': formFields.message !== '' }">
          <div class="input-wrapper">
            <textarea name="message" id="message" v-autosize rows="1" v-validate="'required'" v-model="formFields.message" data-vv-validate-on="blur"></textarea>
            <label for="message">Bericht*</label>
            <div class="highlight"><span></span></div>
          </div>
          <span v-show="errors.has('message')" class="error-msg">Heb je niets te vertellen? Dat kan. Maar dan ontvang ik liever niet een mail.</span>
        </div>
        <div class="form-group">
          <button type="submit" name="submit" id="submit" form="connection" class="btn" @mouseover="mouseOverEffect" @mouseout="mouseOutEffect" @mouseleave="mouseOutEffect" @click="addTouchedClass"><span>Verzend</span></button>
        </div>
      </form>
    </view-right>

    <div>
      <view-center bg-color="bg-purple-turkoise">
        <div class="heading-wrapper"><h2>Adresgegevens</h2></div>
        <p>
          Pien van Dalen is gevestigd in <a href="https://www.google.nl/maps/dir//Gouwe+9406+GS+Assen/" target="_blank" rel="noopener noreferrer" title="Plan je route naar Assen">Assen</a>. Je kunt me mailen, bellen, appen, een bericht sturen of mijn Facebook- of LinkedIn-pagina bezoeken.
        </p>
        <p>
          pien@pienvandalen.nl<br>
          06 5777 56 33
        </p>
      </view-center>
    </div>

  </div>
</template>

<script>
  import Page from '@/page'
  import MouseEventMethods from '@/mouseeventmethods'
  import MyMap from './MyMap.vue'
  import Axios from 'axios'

  export default {
    mixins: [Page, MouseEventMethods],
    components: {
      MyMap
    },
    data () {
      return {
        formFields: {
          name: '',
          email: '',
          surname: '',
          message: ''
        },
        responseMessage: false,
        errorMessage: false
      }
    },
    methods: {
      validateBeforeSubmit () {
        this.$validator.validateAll().then((result) => {
          // If the result is 'true' it means all fields are valid
          if (result) {
            // Post the JSON to the API
            Axios.post('/sendmessage/index.php', JSON.stringify(this.formFields))
            .then((response) => {
              // The message has been sent, so here's a response for the user
              if (response.status === 200) {
                this.responseMessage = 'Bedankt voor je bericht! Ik reageer hier zo snel mogelijk op.'
              }
            })
            .catch(() => {
              // 500 Something went wrong sending the mail
              // 403 This request was not a POST request
              this.errorMessage = 'Er is een probleem opgetreden bij het verzenden, probeer het later nog eens.'
            })
          }
        })
      }
    }
  }
</script>

<style lang="scss" scoped>

  @mixin for-phone-only {
    @media (max-width: 600px) { @content; }
  }
  @mixin for-phone-landscape-only {
    @media (max-width: 600px) and (orientation: landscape) { @content; }
  }


  /* ------------------- VIEW ------------------ */
  .view {
    padding-bottom: 100%;

    @include for-phone-only {
      padding-bottom: 685%;
      margin-top: 25%;
    }

    @include for-phone-landscape-only {
      padding-bottom: 682.5%;
      margin-top: 0;
    }
  }

  .view-left {

    @include for-phone-only {
      width: 100%;
      padding-bottom: 185%;
    }
  }

  .view-right {

    @include for-phone-only {
      margin-top: 110%;
    } 

    @include for-phone-landscape-only {
      margin-top: 107.5%;
    } 
  }


  /* ----------------- GENERAL ----------------- */
  p.margin-bottom {
    margin-bottom: 5rem;
  }

</style>
