<template>
  <div class="view-left">
    <div class="diagonal-wrapper">
      <div class="diagonal">
        <slot>...</slot>
      </div>
    </div>
    <slot name="btn-slot"></slot>
  </div>
</template>

<script>
    export default {}
</script>

<style lang="scss" scoped>

  @mixin for-phone-only {
    @media (max-width: 600px) { @content; }
  }
  @mixin for-phone-landscape-only {
    @media (max-width: 600px) and (orientation: landscape) { @content; }
  }


  /* ------------------- VIEW ------------------ */
  .gevolg .view-left {

    .diagonal-wrapper {

      @include for-phone-landscape-only {
        top: -5.125%;
      }
    }

    .diagonal {
      overflow: visible;
    }
  }

  .oorzaak .view-left {

    .diagonal-wrapper {

      @include for-phone-only {
        left: -67.5%;
        width: 185%;
        padding-bottom: 185%;
      }

      @include for-phone-landscape-only {
        left: -70%;
      }
    }
  }

  .page-not-found .view-left {

    .diagonal-wrapper {

      @include for-phone-only {
        left: -67.5%;
        width: 185%;
        padding-bottom: 185%;
      }

      @include for-phone-landscape-only {
        left: -70%;
      }
    }
  }

  .verband .view-left {

    .diagonal-wrapper {

      @include for-phone-only {
        left: -67.5%;
        width: 185%;
        padding-bottom: 185%;
        z-index: 25;
      }

      @include for-phone-landscape-only {
        left: -70%;
      }
    }
  }

</style>
