<template>
  <div class="view-center">
    <div class="diagonal-wrapper">
      <div class="diagonal" :class="bgColor"></div>
      <div class="container-center">
        <div class="text group">
          <div class="text-padding">
            <slot></slot>
            <div class="diagonal-wrapper heading-indicator">
              <div class="diagonal bg-yellow"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['bg-color'],
    data () {
      return {}
    }
  }
</script>
