<template>
  <div class="view-right">
    <div class="diagonal-wrapper">
      <div class="diagonal bg-purple-turkoise"></div>
      <div class="container-right">
        <div class="text group">
          <div class="text-padding">
            <div class="heading-wrapper"><h1>{{ title }}</h1></div>
            <slot>
              ...
            </slot>
            <div class="diagonal-wrapper heading-indicator">
              <div class="diagonal bg-yellow"></div>
            </div>
          </div>
        </div>
      </div>
      <slot name="btn-slot"></slot>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['title'],
    data () {
      return {}
    }
  }
</script>

<style lang="scss" scoped>

  @mixin for-phone-only {
    @media (max-width: 600px) { @content; }
  }
  @mixin for-phone-landscape-only {
    @media (max-width: 600px) and (orientation: landscape) { @content; }
  }


  /* ------------------- VIEW ------------------ */
  .gevolg .view-right {

    h1 {
      @include for-phone-only {
        text-shadow: #5c6cd4 0 0 .5rem;
      }
    }
  }

  .verband .view-right {

    .diagonal-wrapper .container-right {
      width: 30%;

      @include for-phone-only {
        z-index: 55;
      }
    }
  }

</style>
