<template>
  <div id="app" :class="[appClass, transitionClass]" >

    <div class="app-wrapper">
 
      <header class="header">

        <div class="logo-wrapper">
          <div class="logo-perspective bg-purple-rose"></div>
          <router-link tag="a" to="/" exact class="logo" @mouseover.native="mouseOverEffect" @mouseout.native="mouseOutEffect" @mouseleave.native="mouseOutEffect" @click.native="addTouchedClass">
            <img src="./assets/img/logo_pien-van-dalen_bg.svg" alt="Logo Pien van Dalen" />
            <div class="diagonal-wrapper">
              <div class="diagonal bg-yellow"></div>
            </div>
          </router-link>
        </div>

        <div class="container nav-container" v-bind:class="{'active': navIsActive, 'inactive': !navIsActive}">
          <div class="nav-trigger show-for-phone-only group" @click="toggleNav" @click.stop>
            <div class="nav-btn">
              <div class="first"></div>
              <div class="second"></div>
              <div class="fourth"></div>
              <div class="third"></div>
            </div>
          </div>
          <div class="nav-bg show-for-phone-only">
            <div class="diagonal-wrapper">
              <div class="diagonal bg-white" @click.stop>
              </div>
            </div>
          </div>
          <nav class="nav text-center group" @click.stop>
            <ul>
              <li>
                <router-link tag="a" to="/" exact @mouseover.native="mouseOverEffect" @mouseout.native="mouseOutEffect" @mouseleave.native="mouseOutEffect" @click.native="addTouchedClass">
                  Begin
                </router-link>
              </li>
              <li>
                <router-link tag="a" to="/gevolg" @mouseover.native="mouseOverEffect" @mouseout.native="mouseOutEffect" @mouseleave.native="mouseOutEffect" @click.native="addTouchedClass">
                  Gevolg
                </router-link>
              </li>
              <li>
                <router-link tag="a" to="/oorzaak" @mouseover.native="mouseOverEffect" @mouseout.native="mouseOutEffect" @mouseleave.native="mouseOutEffect" @click.native="addTouchedClass">
                  Oorzaak
                </router-link>
              </li>
              <li>
                <router-link tag="a" to="/verband" @mouseover.native="mouseOverEffect" @mouseout.native="mouseOutEffect" @mouseleave.native="mouseOutEffect" @click.native="addTouchedClass">
                  Verband
                </router-link>
              </li>
            </ul>
            <div class="diagonal-wrapper current-page-pointer hide-for-phone-only" ref="currentPagePointer">
              <div class="diagonal bg-yellow"></div>
            </div>
          </nav>
        </div>

      </header>

      <main class="main">
        <transition :name="transitionName" mode="out-in">
          <router-view class="view" :transitionName.sync="transitionName"></router-view>
        </transition>
      </main>

      <footer class="footer">
        <div class="container">

          <div class="diagonal-wrapper">
            <div class="diagonal bg-bordeaux">
            </div>
          </div>

          <div class="text group text-center">
            <strong>Lijntje leggen?</strong>
            <a href="mailto:pien@pienvandalen.nl" rel="noopener noreferrer" title="Mail me" class="link">pien@pienvandalen.nl</a>
            <a href="tel:+31657775633" title="Bel me" class="link">06 5777 56 33</a>
            <div class="social-wrapper">
              <a href="https://www.facebook.com/pienvandalen" target="_blank" rel="noopener noreferrer" title="Vind me op Facebook" class="btn-social facebook" @mouseover="mouseOverEffect" @mouseout="mouseOutEffect" @mouseleave="mouseOutEffect" @click="openApp($event,'facebook')">
                <div class="btn-social-wrapper">
                  <img src="/static/img/icons/social-sprite.svg" alt="Facebook icon" />
                </div>
              </a>
              <a href="https://www.linkedin.com/in/pienvandalen/" target="_blank" rel="noopener noreferrer" title="Vind me op LinkedIn" class="btn-social linkedin" @mouseover="mouseOverEffect" @mouseout="mouseOutEffect" @mouseleave="mouseOutEffect" @click="addTouchedClass">
                <div class="btn-social-wrapper">
                  <img src="/static/img/icons/social-sprite.svg" alt="LinkedIn icon" />
                </div>
              </a>
              <a href="https://api.whatsapp.com/send?phone=31657775633&text=Hoi%20Pien!%20" target="_blank" rel="noopener noreferrer" title="Vind me op WhatsApp" class="btn-social whatsapp" @mouseover="mouseOverEffect" @mouseout="mouseOutEffect" @mouseleave="mouseOutEffect" @click="openApp($event,'whatsapp')">
                <div class="btn-social-wrapper">
                  <img src="/static/img/icons/social-sprite.svg" alt="WhatsApp icon" />
                </div>
              </a>
            </div>
          </div>

        </div>
      </footer> 

    </div>

  </div>
</template>

<script>
  import EventBus from '@/eventbus'
  import MouseEventMethods from '@/mouseeventmethods'

  export default {
    name: 'app',
    mixins: [MouseEventMethods],
    data () {
      return {
        transitionName: 'slide-left',
        transitionClass: 'no-transition',
        navIsActive: false
      }
    },
    computed: {
      appClass () {
        if (this.$route.path === '/') {
          return 'home'
        } else if (this.$route.name === 'Pagina niet gevonden') {
          return 'not-found'
        }
      }
    },
    mounted () {
      // Wait for the DOM to be updated,
      // then move the pointer to the current active nav item
      // and add an event listener:
      // - to update the pointer's position when resizing
      // - to set the minimum height of #app and .app-wrapper
      // - to remove all touched classes on blur
      this.$nextTick(() => {
        window.addEventListener('resize', () => {
          this.movePointer()
          this.setMinHeight()
        }, {passive: true})
        window.addEventListener('blur', this.removeTouchedClass, {passive: true})
        setTimeout(() => {
          this.transitionClass = ''
        }, 250)
        setTimeout(() => {
          this.movePointer(200)
          this.setMinHeight()
        }, 125)

        // Request animation frame to scroll to top of page
        window.requestAnimFrame = (() => {
          return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame ||
            ((callback) => {
              window.setTimeout(callback, 1000 / 60)
            })
        })()
      })
    },
    methods: {
      // Method to set the minimum height of #app and .app-wrapper
      setMinHeight () {
        let h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0)
        document.getElementById('app').style.minHeight = h + 'px'
        document.querySelector('.app-wrapper').style.minHeight = h + 'px'
      },
      // Method to set the transition to right or left
      setTransition (transition) {
        this.transitionName = transition
      },
      // Method to toggle the visibility of the pointer
      togglePointer (visible, timeOutDuration) {
        let d = timeOutDuration || 0
        let display = visible ? 'block' : 'none'

        setTimeout(() => {
          this.$refs.currentPagePointer.style.display = display
        }, d)
      },
      // Method to move the pointer
      movePointer (timeOutDuration) {
        this.$nextTick(() => {
          setTimeout(() => {
            if (window.innerWidth >= 600) {
              let activeRouteEl = document.querySelector('.nav ul li a.router-link-active')
              if (activeRouteEl) {
                this.togglePointer(true, timeOutDuration)
                this.$refs.currentPagePointer.style.left = activeRouteEl.offsetLeft + activeRouteEl.offsetWidth + 'px'
              } else {
                this.togglePointer(false, timeOutDuration)
              }
            }
          }, 0)
        })
      },
      // Method to make sure the native app opens if possible, else navigate to the initial location
      openApp (e, appName) {
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
          let initialLocation = e.currentTarget.getAttribute('href')
          e.preventDefault()
          switch (appName) {
            case 'facebook':
              window.location = 'fb://profile/1116614342'
              this.openInitialUrl(appName, initialLocation)
              break
            case 'whatsapp':
              window.location = 'whatsapp://send?phone=31657775633&text=Hoi%20Pien!%20'
              this.openInitialUrl(appName, initialLocation)
              break
          }
        }
        this.addTouchedClass(e)
      },
      openInitialUrl (appName, initialLocation) {
        let timeout = setTimeout(() => {
          if (confirm('Het lijkt erop dat ' + appName + ' niet op je device is geïnstalleerd, wil je de link openen in een nieuw tabblad?')) {
            window.open(initialLocation)
          }
        }, 1000)

        document.addEventListener('visibilitychange', () => {
          if (document.visibilityState === 'hidden' || document.hidden) {
            clearTimeout(timeout)
            timeout = null
            document.removeEventListener('visibilitychange', this)
          }
        }, {passive: true})

        window.addEventListener('blur', () => {
          clearTimeout(timeout)
          timeout = null
          window.removeEventListener('blur', this)
        }, {passive: true})
      },
      toggleNav () {
        this.navIsActive = !this.navIsActive
        window.addEventListener('click', this.closeNav, {passive: true})
        window.addEventListener('scroll', this.closeNav, {passive: true})
      },
      closeNav () {
        this.navIsActive = false
        window.removeEventListener('click', this.closeNav)
        window.removeEventListener('scroll', this.closeNav)
      },
      scrollTo (scrollTargetY, speed, easing) {
        // scrollTargetY: the target scrollY property of the window
        // speed: time in pixels per second
        // easing: easing equation to use
        let scrollY = window.scrollY || document.documentElement.scrollTop
        scrollTargetY = scrollTargetY || 0
        speed = speed || 6250
        easing = easing || 'easeOutSine'
        let currentTime = 0

        // min time .1, max time .8 seconds
        let time = Math.max(0.1, Math.min(Math.abs(scrollY - scrollTargetY) / speed, 0.8))

        // easing equations from https://github.com/danro/easing-js/blob/master/easing.js
        let easingEquations = {
          easeOutSine: (pos) => {
            return Math.sin(pos * (Math.PI / 2))
          },
          easeInOutSine: (pos) => {
            return (-0.5 * (Math.cos(Math.PI * pos) - 1))
          },
          easeInOutQuint: (pos) => {
            if ((pos /= 0.5) < 1) {
              return 0.5 * Math.pow(pos, 5)
            }
            return 0.5 * (Math.pow((pos - 2), 5) + 2)
          }
        }

        // add animation loop
        function tick () {
          currentTime += 1 / 60

          let p = currentTime / time
          let t = easingEquations[easing](p)

          if (p < 1) {
            window.requestAnimFrame(tick)
            window.scrollTo(0, scrollY + ((scrollTargetY - scrollY) * t))
          } else {
            window.scrollTo(0, scrollTargetY)
          }
        }

        // call it once to get started
        tick()
      }
    },
    created () {
      // Catch emitted events and call methods upon receiving them
      EventBus.$on('setTransition', this.setTransition)
      EventBus.$on('setTransition', this.closeNav)
      EventBus.$on('afterRoute', () => {
        this.movePointer()
        this.removeTouchedClass()
        this.scrollTo()
      })
    }
  }
</script>

<style lang="scss">
  @import './assets/scss/style.scss';
</style>
